@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = null;
}

<div class="wrapper">
    <link href="~/css/register.css" rel="stylesheet" />
    <h2>Forget Password</h2>
    <form asp-action="SendEmail" asp-controller="Account" method="post">

        <div class="input-box">
            <input asp-for="Email" placeholder="Email" required>
        </div>
  
        <div class="input-box button">
            <h3> <input type="submit" value="Reset Password">  </h3>
        </div>
    </form>
</div>

