@model ResetPasswordViewModel

@{
    ViewData["Title"] = "ResetPassword";
    Layout = null;
}
<link href="~/css/register.css" rel="stylesheet" />
<div class="wrapper">
    <h2>ResetPassword</h2>
    <div asp-validation-summary="All"></div>

    <form asp-action="ResetPassword" asp-controller="Account" method="post">
         
        <div class="input-box">
            <input asp-for="NewPassword" placeholder="New password" required>
        </div>
        <div class="input-box">
            <input asp-for="ConfirmPassword" placeholder="Confirm password" required>
        </div>
        <div class="input-box button">
            <input type="Submit" value="Reset Password ">
        </div>
  
    </form>
</div>
